$theme__BG: #0665b3;
$hero__height: 100vh;
$header__height: 60px;
$main__height: calc(#{$hero__height} - #{$header__height});
$pre__minHeight: calc(#{$main__height} - (110px + 100px + 120px) - 60px);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
:root{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background: rgb(175, 175, 175);
}
.hero{
    background: $theme__BG;
    min-height: 100vh;
    width: 100%;
    font-size: 1.6rem;

    .header{
        width: 100%;
        height: $header__height;
        display: flex;
        align-items: center;
        padding: 0 2rem;
        color: #444;
        background: #fff;
        font-size: 1.6rem;
    }
    .main{
        min-height: $main__height;

        .main__Header{
            text-align: center;
            font-size: 3.6rem;
            padding: 3.2rem 0;
            color: #f0ffff;
        }
        .main__Input{
            margin: auto;
            width: fit-content;
            position: relative;
            text-align: center;

            .user__Input__Label{
                font-size: 2.8rem;
                text-align: center;
                margin-bottom: 1.6rem;
                color: rgb(47, 255, 6);
            }
            #toggleMuchLineIndex{
                font-size: 1.6rem;
                text-align: right;
                padding-right: 10px;
                color: cyan;
                cursor: pointer;
            }
            #user__Input,
            #user__MuchLineInput{
                font-size: 2.2rem;
                padding: .8rem 1.2rem;
                outline: none;
                border: 1px solid #f0ffff;
                color: #fff;
                background: #0000;
                &::placeholder{
                    color: #fff;
                }
                // display: ;
            }
            
        }
        .main__Input__Submit{
            margin: auto;
            width: fit-content;
            position: relative;
            text-align: center;

            #user__Input__Submit{
                font-size: 2.4rem;
                font-weight: 500;
                outline: none;
                border: 1px solid snow;
                background: #0000;
                color: seashell;
                padding: 4px 10px;
                margin: 38px 0;
                cursor: pointer;
                position: relative;
                overflow: hidden;
                z-index: 1;
                transition: all .8s;
                &:hover{color: #333;}
                &:hover::before{
                    left: 50%;
                }
                &::before{
                    content: "Submit";
                    display: grid;
                    place-content: center;
                    position: absolute;
                    height: 48px;
                    width: 160px;
                    background: snow;
                    color: #222;
                    top: 50%;
                    left: -100%;
                    border-radius: 50px;
                    transition: all 0.8s;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .main__Output{
            margin: auto;
            max-width: 800px;
            position: relative;
            text-align: center;
            padding: 0 20px;
            padding-bottom: 5rem;
            pre{
                min-height: $pre__minHeight;

                .placeholder{
                    color: #dddb;
                    text-align: center;
                }
            }
        }
    }
    .footer{
        width: 100%;
        height: 60px;
        background: #333;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
    }
}