* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: #333;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    animation: rotate 0.1s linear infinite;
}
.upperCircle {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 2px solid #ddd;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 12s linear infinite;
}
.upperCircle::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background: #fff;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.middleCircle {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    border: 2px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: rotate 8s ease-out infinite;
}
.middleCircle::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background: #fff;
    top: 0;
    right: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.innerCircle {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid #ddd;
    position: relative;
    animation: rotate 8s ease-in-out infinite;
}
.innerCircle::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background: #fff;
    bottom: 0;
    border-radius: 50%;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
