* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* this is the style for the page i already type this to not waste time */
section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000022;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#button{
    background: none;
    border: none;
    outline: none;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.623);
    cursor: pointer;
}
#button:active{
    background: white;
    box-shadow: 0 0 15px 0px white;
}
#demoScore{
    font-size: 2em;
    color: white;
    margin-top: 10px;
    font-family: 'consolas';
}




/* Thanks For Watching */
/* share subscribe like */







