* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #050505;
}
.wrapper .stopwatch{
    display: flex;
    /* perspective: 1800px; */
    transform-style: preserve-3d;
}
.stopwatch-separator{
    font-size: 2.2rem;
    font-weight: 900;
    line-height: 50px;
    margin: 0 0.2rem;
    color: #fff;
}
.wrapper .stopwatch .hour ,
.wrapper .stopwatch .min ,
.wrapper .stopwatch .sec {
    width: 60px;
    height: 50px;
    font-size: 2.2rem;
    text-align: center;
    font-family: 'Segoe UI';
    background: dodgerblue;
    color: #fff;
    border-radius: 0.3rem;
    transform: rotateY(45deg);
}
/* span#hour{
} */
.btn{
    background: dodgerblue;
    border: none;
    outline: none;
    color: #fff;
    padding: 0.2rem 0.8rem;
    border-radius: 0.2rem;
    margin: 1rem auto;
    display: block;

}