@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Yusei Magic", sans-serif;
}
#toggler {
    -webkit-appearance: none;
    height: 40px;
    width: 80px;
    border-radius: 40px;
    position: absolute;
    top: 1.6rem;
    right: 2rem;
    background: transparent;
    box-shadow: 3px 3px 6px #aaa7, -3px -3px 6px #fff, inset 3px 3px 6px #aaa7, inset -3px -3px 6px #fff;
    cursor: pointer;
}

#toggler:checked::before {
    left: calc(100% - 4px);
    transform: translate(-100%, -50%);
}

#toggler::before {
    content: "";
    position: absolute;
    height: calc(40px - 8px);
    width: calc(40px - 8px);
    background: #fff;
    top: 50%;
    left: 4px;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
    transition-property: left, transform;
}

body.dark #toggler {
    box-shadow: 3px 3px 6px #575757, -3px -3px 6px #111, inset 3px 3px 6px #575757, inset -3px -3px 6px #111;
}
body.dark #toggler::before {
    background: #afafaf75;
}

.contactPage {
    min-height: 100vh;
    width: 100%;
    background: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 0;
}

.contactPage .contactForm {
    height: fit-content;
    padding: 1.8rem 0;
    max-width: 580px;
    width: 480px;
    border-radius: 1rem;
    background: transparent;
    box-shadow: 11px 11px 16px #c9c9c9, -11px -11px 16px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactPage .heading {
    color: #666;
    margin-bottom: 0.6rem;
}
.contactPage .contactForm .inputGroup {
    display: flex;
    flex-direction: column;
    width: 78%;
    max-width: 360px;
    position: relative;
    margin: 0.6rem auto;
}

.contactPage .contactForm .inputGroup label {
    font-size: 1.4rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 900;
    color: #767676;
}

.inputGroup input[type="text"],
.inputGroup textarea {
    border: none;
    background: transparent;
    outline: none;
    padding: 0.6rem 0.4rem;
    font-size: 1.4rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 900;
    color: #767676;
    box-shadow: inset 3px 3px 9px #c4c4c4, inset -3px -3px 9px #fff;
}

.inputGroup textarea {
    height: 100px;
    resize: vertical;
}
.inputGroup textarea::-webkit-scrollbar {
    width: 0;
}
.inputGroup input[type="submit"] {
    width: fit-content;
    padding: 0.4rem 1.4rem;
    font-size: 1.4rem;
    color: #575757;
    border: none;
    outline: none;
    box-shadow: 4px 4px 5px #c4c4c4, -4px -4px 5px #fff;
    cursor: pointer;
}

body.dark .contactPage {
    background: #222;
}
body.dark .contactPage .heading {
    color: #ddd;
}
body.dark .contactPage .contactForm {
    background: transparent;
    box-shadow: 9px 9px 17px #0e0e0e, -9px -9px 17px #363636;
}
body.dark .inputGroup label {
    color: #ddd;
}

body.dark .inputGroup input[type="text"],
body.dark .inputGroup textarea {
    color: #ddd;
    box-shadow: inset 4px 4px 7px #0e0e0e, inset -4px -4px 7px #57575777;
}
body.dark .inputGroup input[type="submit"] {
    color: #ddd;
    background: #0000;
    box-shadow: 4px 4px 7px #0e0e0e, -4px -4px 7px #57575777;
}
