*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(159, 217, 255);
}
.container{
    height: 70%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center
}
.bgText{
    font-size: 5rem;
    font-family: 'KG HAPPY', sans-serif;
    color: #7776;
    text-align: center;
    user-select: none;
}
.select__Rectangle{
    background: rgba(30, 104, 240, 0.349);
    height: 1px;
    width: 1px;
    position: absolute;
    transform: translate(-50%, -50%);
    animation: rippleEffect 0.4s linear forwards;
    border-radius: 50%;
}
@keyframes rippleEffect {
    0%{
        opacity: 1;
        height: 1px;
        width: 1px;
    }50%{
        opacity: 0.6;
        height: 28px;
        width: 28px;
    }100%{
        opacity: 0;
        height: 58px;
        width: 58px;
    }
}