*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  user-select: none;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.contextmenu{
  position: absolute;
  background: #0a0a0a;
  padding: 10px 16px;
  border-radius: 0.6rem;
  border-top-left-radius: 0;
  color: #ddd;
  overflow: hidden;
  animation: opening 0.3s ease forwards;
  height: 0px;
}
@keyframes opening {
  to{
    height: 234.5px;
  }
}

.contextmenu .separator{
  height: 1px;
  width: 90%;
  background: #767676;
  display: block;
  margin: 8px auto;
}

.contextmenu .title{
  font-size: 1.6rem;
  white-space: nowrap;
}
.contextmenu .menu-navs{
  display: flex;
  flex-direction: column;
}
.contextmenu .menu-navs button{
  background: transparent;
  color: #ddd;
  font-size: 1.2rem;
  text-align: left;
  padding: 0.2rem;
  border: none;
  outline: none;
  white-space: nowrap;
}
.contextmenu .menu-navs button:hover{
  background: #1f1f1f;
}